{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set pageTitle = 'CampusSportswear'|trans %}

{% block navButtons %}
    <div class="btn-group">
        {{ UI.addButton({
            'path': path('campus_sportswear_order.order_create'),
            'entity_label': 'Order'|trans
        }) }}
    </div>
{% endblock navButtons %}

{% block content_data %}
    {% set gridName = 'order-grid' %}
{% endblock content_data %}